<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>用户添加</title>
</head>
<body>
<script th:include="include :: footer">


</script>
<table class="table">
    <tr>
        <th>用户名:</th>
        <td><input type="text"></td>
    </tr>
    <tr>
        <th>密码:</th>
        <td><input type="text"></td>
    </tr>
    <tr>
        <th>年龄:</th>
        <td><input type="text"></td>
    </tr>

    <tr>
        <td><input type="button" value="保存"></td>
    </tr>
</table>
</body>
</html>