<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: head">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<ul>
    <li>
        <button id="userSetting"  data-toggle="modal" class="btn btn-primary" data-target="#myModal">用户管理</button>
    </li>
    <li>
        <button id="resourceSetting"  data-toggle="modal" class="btn btn-primary" data-target="#myModal">资源管理</button>
    </li>
    <li>
        <button id="roleSetting"  data-toggle="modal" class="btn btn-primary" data-target="#myModal">角色管理</button>
    </li>
</ul>
<div th:include="include :: footer"></div>
<script th:inline="javascript">

        $(document).ready(function () {
            $("#userSetting").click(function () {
                window.location.href = "/jump/getUserList";
            });

            $("#resourceSetting").click(function () {
                window.location.href = "/jump/getResourceList";
            });

            $("#roleSetting").click(function () {
                window.location.href = "/jump/getRoleList";
            });
        })


</script>
</body>
</html>